# Data Manipulation with pandas

In [ ]:
# import the library
import pandas as pd

In [ ]:
homelessness = pd.read_csv('data/homelessness.csv')
homelessness

In [ ]:
homelessness = homelessness.drop(columns=['Unnamed: 0'])
homelessness

In [ ]:
# Print the head of the homelessness data
homelessness.head()

In [ ]:
# Print information about homelessness
homelessness.info()

In [ ]:
# Print the shape of homelessness
homelessness.shape

In [ ]:
# Print a description of homelessness
homelessness.describe()

In [ ]:
# Print the column index of homelessness
print(homelessness.columns)

In [ ]:
# Print the values of homelessness
print(homelessness.values)

In [ ]:
# Print the row index of homelessness
print(homelessness.index)

In [ ]:
# Sort homelessness by descending family members
homelessness_fam = homelessness.sort_values('family_members',ascending=False)

In [ ]:
# Print the top few rows
print(homelessness_fam.head())

In [ ]:
# Sort homelessness by region, then descending family members
homelessness_reg_fam = homelessness.sort_values(['region','family_members'],ascending=[True,False])

In [ ]:
# Print the top few rows
print(homelessness_reg_fam.head())

In [ ]:
# Select the individuals column
individuals = homelessness.individuals

In [ ]:
# Print the head of the result
print(individuals.head())

In [ ]:
# Select the state and family_members columns
state_fam = homelessness[['state','family_members']]

In [ ]:
# Print the head of the result
print(state_fam.head())

In [ ]:
# Select only the individuals and state columns, in that order
ind_state = homelessness[['individuals','state']]

In [ ]:
# Print the head of the result
print(ind_state.head())

In [ ]:
# Filter for rows where individuals is greater than 10000
ind_gt_10k = homelessness[(homelessness['individuals'] > 10000)]

# See the result
print(ind_gt_10k)

In [ ]:
# Filter for rows where region is Mountain
mountain_reg = homelessness[(homelessness['region'] == 'Mountain')]



# See the result
print(mountain_reg)

In [ ]:
# Filter for rows where family_members is less than 1000 
# and region is Pacific
fam_lt_1k_pac = homelessness[(homelessness['family_members'] < 1000) & 
                             (homelessness['region'] == 'Pacific')]

# See the result
print(fam_lt_1k_pac)

In [ ]:
# Subset for rows in South Atlantic or Mid-Atlantic regions
south_mid_atlantic = homelessness[(homelessness['region'].isin(['South Atlantic']) | homelessness['region'].isin(['Mid-Atlantic'])
                                  )]

# See the result
south_mid_atlantic

In [ ]:
# The Mojave Desert states
canu = ['California', 'Arizona', 'Nevada', 'Utah']

# Filter for rows in the Mojave Desert states
mojave_homelessness = homelessness[(homelessness['state'].isin(canu)
                                   )]

# See the result
mojave_homelessness

In [ ]:
# Add total col as sum of individuals and family_members
homelessness['total'] = homelessness['individuals'] + homelessness['family_members']


# Add p_individuals col as proportion of total that are individuals
homelessness['p_individuals'] = homelessness['individuals'] / homelessness['total']

# See the result
homelessness

In [ ]:
# Create indiv_per_10k col as homeless individuals per 10k state pop
homelessness['indiv_per_10k'] = 10000 * homelessness['individuals'] / homelessness['state_pop']

# Subset rows for indiv_per_10k greater than 20
high_homelessness = homelessness[homelessness['indiv_per_10k'] > 20]

# Sort high_homelessness by descending indiv_per_10k
high_homelessness_srt = homelessness.sort_values('indiv_per_10k',ascending=False)

# From high_homelessness_srt, select the state and indiv_per_10k cols
result = high_homelessness_srt[['state','indiv_per_10k']]

# See the result
result

In [ ]:
sales = pd.read_csv('data/sales_subset.csv')
sales

In [ ]:
sales.drop(columns=['Unnamed: 0'])

In [ ]:
# Print the head of the sales DataFrame
sales.head()

In [ ]:
# Print the info about the sales DataFrame
sales.info()

In [ ]:
# Print the mean of weekly_sales
sales.weekly_sales.mean()

In [ ]:
# Print the maximum of the date column
sales.date.max()

In [ ]:
# Print the minimum of the date column
sales.date.min()

In [ ]:
# A custom IQR function
def iqr(column):
    return column.quantile(0.75) - column.quantile(0.25)
    
# Print IQR of the temperature_c column
print(sales['temperature_c'].agg(iqr))

In [ ]:
# A custom IQR function
def iqr(column):
    return column.quantile(0.75) - column.quantile(0.25)

# Update to print IQR of temperature_c, fuel_price_usd_per_l, & unemployment
print(sales[['temperature_c', 'fuel_price_usd_per_l', 'unemployment']].agg(iqr))

In [ ]:
# Import NumPy and create custom IQR function
import numpy as np
def iqr(column):
    return column.quantile(0.75) - column.quantile(0.25)

# Update to print IQR and median of temperature_c, fuel_price_usd_per_l, & unemployment
print(sales[['temperature_c', 'fuel_price_usd_per_l', 'unemployment']].agg([iqr,np.median]))

In [ ]:
# Sort sales_1_1 by date
sales = sales.sort_values('date')

# Get the cumulative sum of weekly_sales, add as cum_weekly_sales col
sales['cum_weekly_sales'] = sales['weekly_sales'].cumsum()

# Get the cumulative max of weekly_sales, add as cum_max_sales col
sales['cum_max_sales'] = sales['weekly_sales'].cummax()

# See the columns you calculated
sales[['date', 'weekly_sales', 'cum_weekly_sales', 'cum_max_sales']]

In [ ]:
# Drop duplicate store/type combinations
store_types = sales.drop_duplicates(subset=['store', 'type'])
store_types.head()

In [ ]:
# Drop duplicate store/department combinations
store_depts = sales.drop_duplicates(subset=['store', 'department'])
store_depts.head()

In [ ]:
# Subset the rows where is_holiday is True and drop duplicate dates
holiday_dates = sales[sales['is_holiday']].drop_duplicates(subset='date')

In [ ]:
# Print date col of holiday_dates
holiday_dates['date']

In [ ]:
# Count the number of stores of each type
store_counts = store_types['type'].value_counts()
store_counts

In [ ]:
# Get the proportion of stores of each type
store_props = store_types['type'].value_counts(normalize=True)
store_props

In [ ]:
# Count the number of each department number and sort
dept_counts_sorted = store_depts['department'].value_counts(sort=True)
dept_counts_sorted

In [ ]:
# Get the proportion of departments of each number and sort
dept_props_sorted = store_depts['department'].value_counts(sort=True, normalize=True)
dept_props_sorted

In [ ]:
# Calc total weekly sales
sales_all = sales['weekly_sales'].sum()
sales_all

In [ ]:
# Subset for type A stores, calc total weekly sales
sales_A = sales[sales['type'] == 'A']['weekly_sales'].sum()
sales_A

In [ ]:
# Subset for type B stores, calc total weekly sales
sales_B = sales[sales['type'] == 'B']['weekly_sales'].sum()
sales_B

In [ ]:
# Subset for type C stores, calc total weekly sales
sales_C = sales[sales['type'] == 'C']['weekly_sales'].sum()
sales_C

In [ ]:
# Get proportion for each type
sales_propn_by_type = [sales_A, sales_B, sales_C] / sales_all
sales_propn_by_type

In [ ]:
# Group by type; calc total weekly sales
sales_by_type = sales.groupby('type')['weekly_sales'].sum()
sales_by_type

In [ ]:
# Get proportion for each type
sales_propn_by_type = sales_by_type / sum(sales_by_type)
sales_propn_by_type

In [ ]:
# From previous step
sales_by_type = sales.groupby('type')['weekly_sales'].sum()
sales_by_type

In [ ]:
# Group by type and is_holiday; calc total weekly sales
sales_by_type_is_holiday = sales.groupby(['type', 'is_holiday'])['weekly_sales'].sum()
sales_by_type_is_holiday

In [ ]:
# Import numpy with the alias np
import numpy as np

# For each store type, aggregate weekly_sales: get min, max, mean, and median
sales_stats = sales.groupby('type')['weekly_sales'].agg([np.min, np.max, 
                                                         np.mean, np.median])

# Print sales_stats
sales_stats

In [ ]:
# For each store type, aggregate unemployment and fuel_price_usd_per_l: get min, max, mean, and median
unemp_fuel_stats = sales.groupby('type')[['unemployment', 'fuel_price_usd_per_l']].agg([np.min, np.max, 
                                                                                        np.mean, np.median])

# Print unemp_fuel_stats
unemp_fuel_stats

In [ ]:
# Pivot for mean weekly_sales for each store type
mean_sales_by_type = sales.pivot_table(values='weekly_sales',
index='type')

# Print mean_sales_by_type
mean_sales_by_type

In [ ]:
# Import NumPy as np
import numpy as np

# Pivot for mean and median weekly_sales for each store type
mean_med_sales_by_type = sales.pivot_table(values='weekly_sales',
index='type',aggfunc=[np.mean,np.median])

# Print mean_med_sales_by_type
mean_med_sales_by_type

In [ ]:
# Pivot for mean weekly_sales by store type and holiday 
mean_sales_by_type_holiday = sales.pivot_table(values='weekly_sales', index='type', columns='is_holiday')

# Print mean_sales_by_type_holiday
mean_sales_by_type_holiday

In [ ]:
# Print mean weekly_sales by department and type; fill missing values with 0
sales.pivot_table(values='weekly_sales', index='department', columns='type', fill_value=0)

In [ ]:
# Print the mean weekly_sales by department and type; fill missing values with 0s; sum all rows and cols
sales.pivot_table(values='weekly_sales', index='department', columns='type', fill_value=0, margins=True)

In [ ]:
temperatures = pd.read_csv('data/temperatures.csv')
temperatures

In [ ]:
temperatures = temperatures.drop(columns=['Unnamed: 0'])

In [ ]:
# Look at temperatures
temperatures

In [ ]:
# Set the index of temperatures to city
temperatures_ind = temperatures.set_index('city')

# Look at temperatures_ind
temperatures_ind

In [ ]:
# Reset the temperatures_ind index, keeping its contents
temperatures_ind.reset_index()

In [ ]:
# Reset the temperatures_ind index, dropping its contents
temperatures_ind.reset_index(drop=True)

In [ ]:
# Make a list of cities to subset on
cities = ['Moscow', 'Saint Petersburg']

# Subset temperatures using square brackets
temperatures[temperatures['city'].isin(cities)]

In [ ]:
# Subset temperatures_ind using .loc[]
temperatures_ind.loc[cities]

In [ ]:
# Index temperatures by country & city
temperatures_ind = temperatures.set_index(['country','city'])

In [ ]:
# List of tuples: Brazil, Rio De Janeiro & Pakistan, Lahore
rows_to_keep = [('Brazil','Rio De Janeiro'), ('Pakistan', 'Lahore')]

# Subset for rows to keep
temperatures_ind.loc[[('Brazil', 'Rio De Janeiro'), ('Pakistan', 'Lahore')]]

In [ ]:
# Sort temperatures_ind by index values
temperatures_ind.sort_index()

In [ ]:
# Sort temperatures_ind by index values at the city level
temperatures_ind.sort_index(level='city')

In [ ]:
# Sort temperatures_ind by country then descending city
temperatures_ind.sort_index(level=['country', 'city'], ascending = [True, False])

In [ ]:
# Sort the index of temperatures_ind
temperatures_srt = temperatures_ind.sort_index()

# Subset rows from Pakistan to Russia
temperatures_srt.loc['Pakistan':'Russia']

In [ ]:
# Try to subset rows from Lahore to Moscow
temperatures_srt.loc['Lahore':'Moscow']

In [ ]:
# Subset rows from Pakistan, Lahore to Russia, Moscow
temperatures_srt.loc[('Pakistan', 'Lahore'):('Russia', 'Moscow')]

In [ ]:
# Subset rows from India, Hyderabad to Iraq, Baghdad
temperatures_srt.loc[('India', 'Hyderabad'):('Iraq', 'Baghdad')]

In [ ]:
# Subset columns from date to avg_temp_c
temperatures_srt.loc[:, 'date':'avg_temp_c']

In [ ]:
# Subset in both directions at once
temperatures_srt.loc[('India', 'Hyderabad'):('Iraq', 'Baghdad'), 'date':'avg_temp_c']

In [ ]:
# Use Boolean conditions to subset temperatures for rows in 2010 and 2011
temperatures_bool = temperatures[(temperatures['date'] >= "2010-01-01") & (temperatures['date'] <= "2011-12-31")]
temperatures_bool

In [ ]:
# Set date as the index and sort the index
temperatures_ind = temperatures.set_index('date').sort_index()

In [ ]:
# Use .loc[] to subset temperatures_ind for rows in 2010 and 2011
temperatures_ind.loc['2010':'2011']

In [ ]:
# Use .loc[] to subset temperatures_ind for rows from Aug 2010 to Feb 2011
temperatures_ind.loc['2010-08':'2011-02']

In [ ]:
# Get 23rd row, 2nd column (index 22, 1)
temperatures.iloc[22, 1]

In [ ]:
# Use slicing to get the first 5 rows
temperatures.iloc[:5]

In [ ]:
# Use slicing to get columns 3 to 4
temperatures.iloc[:, 2:4]

In [ ]:
# Use slicing in both directions at once
temperatures.iloc[:5, 2:4]

In [ ]:
# import package
import matplotlib.pyplot as plt

In [ ]:
# Look at the first few rows of data
homelessness.head()

In [ ]:
by_size = homelessness.groupby('region')['total'].sum()


by_size.plot(kind='bar')

# Show the plot
plt.show()

In [ ]:
by_date = temperatures.groupby('date')['avg_temp_c'].mean()

by_date.plot(kind='line')
plt.xticks(rotation=90)  # Rotates the x-tick labels by 90 degrees
plt.tick_params(axis='x', which='major', pad=10)

# Show the plot
plt.show()

In [ ]:
homelessness.plot(x='region', y='total', kind='scatter', title='Homelessness Total by Region')

plt.xticks(rotation=90)  # Rotates the x-tick labels by 90 degrees
plt.tick_params(axis='x', which='major', pad=10)

# Show the plot
plt.show()

In [ ]:
homelessness[homelessness['region'] == 'Pacific']['total'].hist(alpha=0.5, bins=20)


homelessness[homelessness['region']== 'South Atlantic']['total'].hist(alpha=0.5, bins=20)

# Add a legend
plt.legend(['Pacific', 'South Atlantic'])

# Show the plot
plt.show()

In [ ]:
homelessness.isna()

In [ ]:
# Check each column for missing values
homelessness.isna().any()

In [ ]:
# Bar plot of missing values by variable
homelessness.isna().sum().plot(kind='bar')

# Show plot
plt.show()

In [ ]:
# Remove rows with missing values
homelessness_complete = homelessness.dropna()

In [ ]:
# Check if any columns contain missing values
homelessness_complete.isna().any()

In [ ]:
# Create a list of dictionaries with new data
avocados_list = [
    {'date': '2019-11-03', 'small_sold': 10376832, 'large_sold': 7835071},
    {'date': '2019-11-10', 'small_sold': 10717154, 'large_sold': 8561348},
]

# Convert list into DataFrame
avocados_2019 = pd.DataFrame(avocados_list)

# Print the new DataFrame
avocados_2019

In [ ]:
# Create a dictionary of lists with new data
avocados_dict = {
  'date': ['2019-11-17', '2019-12-01'],
  'small_sold': [10859987, 9291631],
  'large_sold': [7674135, 6238096]
}

# Convert dictionary into DataFrame
avocados_2019 = pd.DataFrame(avocados_dict)

# Print the new DataFrame
avocados_2019